.MainContainer{

    display:flex;
    border:2px solid blueviolet;
    justify-content: space-around;
    width:100%;
    min-height:40rem;
    margin-top:2rem;

}

.MainContainer .Container{
    border:2px solid red;
    width:33%;
}